<div>
  Herolo Books Project developed by Yossef Mahari
  <br>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3380.3452940904426!2d34.80375848483531!3d32.08695228118591!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d4bc0d492604d%3A0x12c3161e8ba808d2!2z15HXptec15DXnCA4LCDXqNee16og15LXnw!5e0!3m2!1siw!2sil!4v1530542256753" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe><br><br>
    
    <p>Contact Us:</p>
    <br>
  <p><span id="map" class="fa fa-map-marker"></span> Bezalel 8 Ramat Gan, IL</p>
  <p><span id="phone" class="fa fa-phone"></span> +972 54-256-11-71</p>
  <p><span id="mik" class="fa fa-envelope-o"></span> liad@herolo.co.il / elad@herolo.co.il</p>
</div>